/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------End of Reset----------*/
html {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
}

a {
    text-decoration: none;
}

header{
    flex-grow: 1.5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
}

footer {
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
    padding: 0 20px;
    height: 47px;
}

#navbar {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 6px;
    justify-content: space-between;
    box-sizing: border-box;
}

#nav-left a {
    display: inline-block;
    padding: 5px;
    margin: 0 5px 0 5px;
    color: #222;
}

#nav-left #about {
    margin-left: 15px;
}

#nav-right {
    float: right;
    font-size: 13px;
    height: 48px;
    padding-right: 10px;
    padding-top: 15px;
}

#nav-right a {
    display: inline-block;
    color: #222;
    line-height: 24px;
}

#images {
    padding-left: 15px;
}

#apps{
    height: 35px;
    vertical-align: middle;    
    padding-left: 12px;
}

#sign-in {
    color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    padding: 9px 23px;
    border-radius: 4px;
    min-width: 96px;
}

#logo {
    display: flex;
}

#search {
    padding: 20px;
    position: relative;
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 584px;
}

#search-wrapper{
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    width: 100%;
    max-width: 584px;
    margin-top: 6px;
    padding: 0 8px 0 16px;
}

#search-icon {
    display: flex;
    align-self: center;
    padding: 0 14px;
    height: 24px;
    width: 24px;
    margin-top: 3px;
}

#search-bar{
    flex: 100%;
    border:none;
}

#clear {
    height: 24px;
    width: 28px;
    margin-right: 12px;
    align-self: center;
    display: none;
}

#search-divider {
    border-left: 1px solid #dfe1e5; 
    height: 65%;
    display: none;
    align-self: center;
}

#search-voice {
    display: flex;
    width: 28px;
    align-self: center;
    padding: 0 8px;
}

#search-buttons {
    padding-top: 18px;
    display: flex;
    justify-content: center;
}

#search-buttons button {
    font-family: arial, sans-serif;
    font-size: 14px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;

}

 footer a {
     color: #70757a;
     align-items: center;
     padding: 15px;
 }

#footer-start {
    min-width: 30%;
    order: 1;
    display: flex;
    justify-content: space-evenly;
    justify-content: flex-start;
}

#carbon {
    order: 2;
}

#carbon-leaf {
    height: 14px;
}

#footer-end {
    min-width: 30%;
    order: 3;
    display: flex;
    justify-content: space-evenly;
    justify-content: flex-end;
}
